.sec-bg {
  background-image: linear-gradient(
      50deg,
      rgba(0, 0, 255, 0.164),
      rgba(255, 0, 0, 0.319),
      rgba(255, 255, 255, 0.266)
    ),
    url("../images/bodyimage.jpg");
  background-size: 100% 100%;
}

.bg-theme {
  background-color: orangered !important;
  border-radius: 25px !important;
  color: #fff !important;
}

.bg-theme:hover {
  background-color: rgb(161, 43, 0) !important;
  border-radius: 25px !important;
  color: #fff !important;
}
.cardsec {
  position: relative;
}
.profilepic {
  position: absolute;

  width: 152px;
  top: 104px;
  left: 76px;
  border: 4px solid white;
}
